bin/
obj/
dist/
.angular/
node_modules/

.vs/
.vscode/
.idea/
*.user
*.suo

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

appsettings.Development.json
.env

src/environments/environment*.ts


Uploads/


.DS_Store
Thumbs.db

coverage/

tmp/
temp/