<div class="jobs-page">

  <div class="jobs-header">

    <h2>Jobs</h2>

    <button
      class="add-job-btn">

      + Add Job

    </button>

  </div>

  <div
    class="jobs-grid"

    *ngIf="jobs.length > 0">

    <div
      class="job-card"

      *ngFor="let job of jobs">

      <h3>
        {{ job.title }}
      </h3>

      <p>
        Department:
        {{ job.department }}
      </p>

      <p>
        Status:
        {{ job.status }}
      </p>

      <p>
        Minimum Score:
        {{ job.minimumScore }}
      </p>

      <button
        class="view-btn">

        View Candidates

      </button>

    </div>

  </div>

  <p *ngIf="jobs.length === 0">
    No jobs found
  </p>

</div>