<mat-toolbar color="primary">

  <span>Resume Screener</span>

  <span class="spacer"></span>

  <button
    mat-button
    (click)="logout()">

    Logout

  </button>

</mat-toolbar>

<mat-sidenav-container
  class="layout-container">

  <mat-sidenav
    mode="side"
    opened>

    <mat-nav-list>

      <a mat-list-item routerLink="/dashboard">
        Dashboard
      </a>

      <a mat-list-item>
        Jobs
      </a>

      <a mat-list-item>
        Resumes
      </a>

      <a mat-list-item>
        Rankings
      </a>

      <a mat-list-item>
        Interviews
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content">

      <h2>Welcome to Resume Screener</h2>

      <p>
        AI Resume Screening Dashboard
      </p>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>