<div class="dashboard-container">

  <h2>Dashboard</h2>

  <div class="card-grid">

    <mat-card class="dashboard-card">

      <h3>Total Jobs</h3>

      <p>{{ totalJobs }}</p>

    </mat-card>

    <mat-card class="dashboard-card">

      <h3>Total Resumes</h3>

      <p>{{ totalResumes }}</p>

    </mat-card>

    <mat-card class="dashboard-card">

      <h3>Total Interviews</h3>

      <p>{{ totalInterviews }}</p>

    </mat-card>

    <mat-card class="dashboard-card">

      <h3>Top Candidate Score</h3>

      <p>{{ topScore }}%</p>

    </mat-card>

  </div>

</div>