<div class="dashboard-container">

  <h2>Dashboard</h2>

  <div class="card-grid">

    <mat-card class="dashboard-card">

      <h3>Total Jobs</h3>

      <p>{{ totalJobs }}</p>

    </mat-card>

    <mat-card class="dashboard-card">

      <h3>Total Resumes</h3>

      <p>{{ totalResumes }}</p>

    </mat-card>

    <mat-card class="dashboard-card">

      <h3>Total Interviews</h3>

      <p>{{ totalInterviews }}</p>

    </mat-card>

    <mat-card class="dashboard-card">

      <h3>Total Screened Candidates</h3>

      <p>{{ totalScreenedCandidates  }}</p>

    </mat-card>

  </div>
  <div class="interviews-section">

  <h2>Upcoming Interviews</h2>

  <div
    class="interview-grid"

    *ngIf="
      upcomingInterviews &&
      upcomingInterviews.length > 0
    ">

    <mat-card
      class="interview-card"

      *ngFor="
        let interview
        of upcomingInterviews
      ">

      <h3>
        {{ interview.candidateName }}
      </h3>

      <p>
        {{ interview.jobTitle }}
      </p>

      <p>
        {{
          interview.interviewDate
            | date:'medium'
        }}
      </p>

      <p>
        Status:
        {{ interview.status }}
      </p>

    </mat-card>

  </div>

  <p *ngIf="
    upcomingInterviews.length === 0
  ">
    No upcoming interviews
  </p>

</div>

</div>